@import '../variables.scss';

.amber-button-container {
  display: inline-flex;
  align-items: center;
  box-shadow: none;
  cursor: pointer;
  font-size: 14px;
  border: none;
  border-radius: 4px;
  transition: var(--theme-transition);
  span {
  margin: 0px 5px;
	width: 100%;
  }

  &:hover {
    &:not([disabled]):not(.amber-button-container--text) {
      opacity:  0.8;
      color: #0685FE;
      border-color: #0685FE;
    }
  }

  &:active {
    opacity:  2;
  }

  &[disabled] {
    cursor: not-allowed;
    color: $button-disable-color;
  }

  &--default {
    color: $button-default-color;
    background: $button-default-bg-color;
    border: 1px solid $button-default-border-color
  }

  &--default:hover {
    &:not([disabled]):not(.amber-button-container--text) {
      transition: .1s;
      background: #c6e2ff;
      border-color: #c6e2ff;
    }
  }

  &--primary {
    color: $button-primary-color;
    background: #0BA9FF;
    border: 1px solid $button-primary-border-color
  }

  &--primary:hover {
    &:not([disabled]):not(.amber-button-container--text) {
      transition: .1s;
      background: #409eff;
      color: #fff;
      border-color: #409eff;
    }
  }

  &--primary:active {
    &:not([disabled]):not(.amber-button-container--text) {
      transition: 0.1s;
      background: #3a8ee6;
      border-color: #3a8ee6;
    }
  }

  &--warning {
    color: $button-warning-color;
    background: $button-warning-bg-color;
    border: 1px solid $button-warning-border-color
  }

  &--warning:hover {
    &:not([disabled]):not(.amber-button-container--text) {
      transition: .1s;
      background: $button-warning-bg-color;
      color: #fff;
      border-color: $button-warning-bg-color;
      opacity: 0.8;
    }
  }

  &--warning:active {
    &:not([disabled]):not(.amber-button-container--text) {
      transition: 0.1s;
      background: #cf9236;
      border-color: #cf9236;
    }
  }

  &--danger {
    color: $button-danger-color;
    background: $button-danger-bg-color;
    border: 1px solid $button-danger-border-color
  }

  &--danger:hover {
    &:not([disabled]):not(.amber-button-container--text) {
      transition: .1s;
      background: $button-danger-bg-color;
      color: #fff;
      border-color: $button-danger-bg-color;
      opacity: 0.8;
    }
  }

  &--danger:active {
    &:not([disabled]):not(.amber-button-container--text) {
      transition: 0.1s;
      background: #dd6161;
      border-color: #dd6161;
    }
  }

  &--large {
    min-width: 96px;
    padding: 12px;
    height: 48px;
  }

  &--normal {
    min-width: 74px;
    padding: 8px;
  }

  &--small {
    background: #1A9DFF;
    min-width: 58px;
    padding: 4px;
  }

  &--text {
    box-shadow: none;
    border-color: transparent;
    background: $button-text-color;
    &--primary {
      color: $button-primary-bg-color;
    }
    &--primary:hover {
      background-color: #F7F8FA;
      border-color: transparent;
      color: $button-primary-bg-color;
    }
    &--default {
      color: $button-default-color;
    }
    &--default:hover {
      background-color: #F7F8FA;
      border-color: transparent;
      color: $button-default-color;
    }
    &--warning {
      color: $button-warning-bg-color;
    }
    &--warning:hover {
      background-color: #F7F8FA;
      border-color: transparent;
      color: $button-warning-bg-color;
    }
    &--danger {
      color: $button-danger-bg-color;
    }
    &--danger:hover {
      background-color: #F7F8FA;
      border-color: transparent;
      color: $button-danger-bg-color;
    }
  }

  &--plain {
    &--primary {
      color: $button-primary-bg-color;
    }

    &--primary:hover {
      transition: .1s;
      color: $button-primary-bg-color !important;
    }

    &--primary:active {
      background: #E6E6E6 !important;
    }

    &--default {
      color: $button-default-color;
    }

    &--default:active {
      background: #E6E6E6 !important;
    }

    &--warning {
      color: $button-warning-bg-color;
    }
    &--warning:hover {
      transition: .1s;
      color: $button-warning-bg-color !important;
    }

    &--warning:active {
      background: #E6E6E6 !important;
    }

    &--danger {
      color: $button-danger-bg-color;
    }

    &--danger:hover {
      transition: .1s;
      color: $button-danger-bg-color !important;
    }

    &--danger:active {
      background: #E6E6E6 !important;
    }
  }

  .spinner {
  	width: 12px;
  	height: 12px;
  	position: relative;
  	float: left;
  	background: transparent;
  	border: 1px solid transparent;
  	border-top: 1px solid #fff;
  	border-radius: 50%;
  	-webkit-animation: 1s spin linear infinite;
  	animation: 1s spin linear infinite;
  }

  & + .amber-button-container{
    margin-left: 15px;
  }

}

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
