@import '../transition.scss';
@import '../variables.scss';

.amber-date-picker-container {
	position: relative;
	
	.amber-date-picker--input {
		width: 240px;
	}
	
	.amber-date-picker--wrapper {
		position: absolute;
		left: 0;
		box-shadow: 0 0 5px #ccc;
		background-color: #fff;
		width: 320px;
		// height: 280px;
		margin-top: 3px;
		border-radius: 4px;
		z-index: 9;
		
		.amber-date-picker--header {
			height: 40px;
			line-height: 40px;
			text-align: center;
			border-bottom: 1px solid #ccc;
			font-weight: 500;
			position: relative;
			box-sizing: border-box;
			
			.amber-date-picker--prev {
				position: absolute;
				left: 0;
				display: flex;
				align-items: center;
				top: 0;
				bottom: 0;
				padding: 0 10px;
				cursor: pointer;
				user-select: none;
			}
			
			.amber-date-picker--next {
				position: absolute;
				right: 0;
				display: flex;
				align-items: center;
				top: 0;
				bottom: 0;
				padding: 0 10px;
				cursor: pointer;
				user-select: none;
			}
			
			.amber-date-picker--date {
				display: block;
				padding: 0 40px;
				user-select: none;
			}
		}
		
		.amber-date-picker--body {
			position: relative;
			padding: 0 6px;
			
			table {
				margin: 0;
				border-collapse: collapse;
				
				tbody {
					position: relative;
					
					tr {
						border-bottom: 1px solid var(--color-border);
						border-top: none;
						text-align: center;
						
						th, td {
							padding: 5px 7px;
							background-color: #fff;
							color: #333;
							font-weight: normal;
							font-size: 14px;
							line-height: 30px;
						}
						
						&.amber-date-table--row {
							border: none;
							cursor: pointer;
							
							.prev-mouth ,.next-mouth {
								color: var(--color-text);
							}
							
							td.current, td:not(.active):hover {
								color: $primary-color;
							}
							
							td.active,  {
								
								> div {
									background-color: $primary-color;
									border-radius: 50%;
									color: #fff;
								}
							}
						}
					}
				}
			}
		}
	}
}