@import '../variables.scss';
@import '../transition.scss';

.amber-form {
	position: relative;
	
	&-item {
		position: relative;
		line-height: 40px;
		margin-bottom: 22px;
		
		&--label {
			float: left;
			width: 100px;
			padding-right: 12px;
			box-sizing: border-box;
			
			&.label-required::before {
				content: '*';
				color: $danger-color;
			}
		}
		
		&--content {
			margin-left: 100px;
			position: relative;
			text-align: left;
			
			&.is-error {
				.amber-input {
					border: 1px solid $danger-color;
				}
				
				.amber-select-container {
					.amber-select-box {
						border: 1px solid $danger-color;
					}
				}
			}
			
			.amber-switch-container {
				display: inline-flex;
				vertical-align: middle;
				align-items: center;
				line-height: 20px;
			}
		}
		
		&--error {
			font-size: 12px;
			color: $danger-color;
			position: absolute;
			line-height: 1;
			padding-top: 4px;
		}
		
		&.label-align-right {
			text-align: right;
		}
		
		&.label-align-left {
			text-align: left;
		}
		
		&.label-align-top {
			.amber-form-item--label {
				float: initial;
			}
			
			.amber-form-item--content {
				margin-left: 0;
			}
		}
	}
	
	&.amber-form-inline {
		display: flex;
	}
}

