
  .amber-input-number-container{
    display: flex;
    // height: 40px;
    // width: 100px;
    &-input{
      height: 40px;
      color: #666666;
      position: relative;
      &-middle{
        width: 81px;
      }
      &-small{
        width: 71px;
      }
      &-large {
        width: 100px;
      }
      .amber-input-container{
        .amber-input{
          // text-align: center;
          height: 40px;
          font-size: 18px;
          font-family: DIN-Bold, DIN;
          font-weight: bold;
          padding-left: 14px;
        &[disabled]{
          background-color: rgba($color: #ccc, $alpha: 0.2);
        }
        }
      }
    }
    .jiantou{
      display: flex;
      flex-direction: column;
      margin-left: 3px;
      justify-content: space-between;
      user-select: none;
    .jiantou-up{
      box-sizing: border-box;
      line-height: 19px;
      text-align: center;
      width: 18px;
      height: 19px;
      background: #FFFFFF;
      border: 1px solid #EEEEEE;
    }
    .jiantou-down{
      box-sizing: border-box;
      line-height: 19px;
      text-align: center;
      width: 18px;
      height: 19px;
      background: #FFFFFF;
      border: 1px solid #EEEEEE;
    }
    }
    & + .amber-input-number-container{
      margin-left: 15px;
    }
  }

