@import '../transition.scss';

.amber-notification-container {
	display: flex;
	width: 330px;
	padding: 14px 26px 14px 13px;
	border-radius: 8px;
	box-sizing: border-box;
	border: 1px solid #ebeef5;
	position: fixed;
	background-color: #fff;
	box-shadow: 0 2px 12px 0 rgba(0,0,0,.1);
	transition: opacity .3s,transform .3s,left .3s,right .3s,top .4s,bottom .3s;
	overflow: hidden;
	
	&.right {
		right: 16px;
	}
	
	&.left {
		left: 16px;
	}
	
	.icon {
		padding: 0 10px;
	}
	
	.amber-notification-content {
		flex: 1;
		
		&--title {
			font-weight: 500;
			color: rgba(0,0,0,.85);
		}
		&--description {
			color: rgba(0,0,0,.65);
		}
	}
	
}

