.amber-tree-container {
  box-sizing: border-box;

  .amber-tree-select{
    &:hover{
      border:1px solid #1B9DFF;
    }
    user-select: none;
    position: relative;
    display: flex;
    width: 240px;
    min-height: 36px;
    // padding-bottom: 5px;
    padding: 0  20px 0 10px;
    box-sizing: border-box;
    border: 1px solid #DCDEE0;
    flex-wrap: wrap;
    align-items: center;

    &-icon{
      position: absolute;
      top: 7px;
      right: 5px;
    }
    &-text{
      position: relative;
      display: flex;
      flex-wrap: wrap;
      padding-top: 5px;
      &-span{
        min-width: 30px;
        background:  #f7f7f7;
        font-size: 14px;
        margin-left: 5px;
        margin-bottom: 5px;
      }
    }
  }
  &-node{
    user-select: none;
    margin-top: 3px;
    max-height: 200px;
    background-color: #fff;
    box-shadow: 0px 2px 8px 0px rgba(200,201,204,0.5000);
    border-radius: 2px;
    overflow: auto;
    .amber-tree-node{
      &-actived{
        background: #F7F8FA;
      }
      &-label{
        &:hover{
          // height: 32px;
          // line-height: 32px;
          // width: 194px;
          background: #E8EFFA;
        }
        &:active{
          // width: 194px;
          // height: 32px;
          // line-height: 32px;
          background: #F7F8FA;
        }
      }
      .amber-tree-node-box{
        padding: 0 10px;
        .amber-tree-firstMenu{
          display: flex;
          cursor: pointer;
        }
        .amber-tree-seconedMenu{
          padding-left: 10px;
        }
      }
      .amber-close-node{
        display: none;
      }
    }
  }
}

