:root {
  --color-default: #edf4ff;
  --color-primary: #1A9Dff;
  --color-primary-end: #3267EA;
  --color-warning: #ed6a0c;
  --color-danger: #D40000;
  --color-disabled: #dadada;
  --color-text: #999999;
  --color-border: #d9d9d9;
  --color-shadow: #D1E9FF;
  --theme-transition: 1s;
  --color-primary-bar-active-background: #409eff26;
}